* {
  padding: 0;
  margin: 0;
}
header{
    background-color: #000000;
    color: #FFFFFF;
}

header nav a {
    color: #FFFFFF;
    text-decoration: none;
}

.cor-azul-bebe {
    color: #46ABD9 ;
}

.cor-azul-escuro {
    color: #051AFF;
}

#Saiba-mais {
    background-color: #051AFF;
    color: #FFFFFF;
    border: none;
    padding-left: 12px;
    padding-right: 14px;
    padding-top: 17px ;
    padding-bottom: 13px;
border-radius: 9px ;
}

footer {
    background-color: #000000;
    color: #FFFFFF;
}



